@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fdbfba;
    text-shadow: 0px 0px 10px rgba(253,191,186,1);
   
    
}

body{

    background: radial-gradient(#9e6c99, #242323);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    

}
.Logo-name{
    position: absolute;
    margin-top: 20px;
    width: 100%;
    

}
.Logo-name h1{
    font-size: 3rem;
    text-align: center;

}


.container{
    width: 100%;
    height: 100vh;
    padding:100px 60px 50px 60px;
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
}
.main{

    width: 60%;
    height: 100%;
    background-color: #433344;
    box-shadow: 0px 0px 40px #242323;
    overflow-x: scroll;
    padding: 20px;
}
.main::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

.main h1{
    font-size: 2rem;
    text-align: center;
    
    margin-bottom: 20px;
    text-transform: uppercase;
   
}

.films{
    
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-around;
    gap: 20px;
  

}
.film{
    padding: 10px;
    border: 2px solid #433344;
    box-shadow: 0px 0px 40px #242323;
    cursor: pointer;
}

.film:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 0px 40px #7e4b53;
    border: 2px solid #7e4b53;
}
.film img{
    width: 100%;
    
    border-radius: 10px;
    box-shadow: 0px 0px 40px #242323;
}

.right-img{
    box-shadow: inset 0px -30px 20px #433344;
}

.right-img img{
    position: relative;
    width: 100%;
    z-index: -2;
   
}




.left img{
    width: 100%;
    height: 100%;
   
   

}
.description-items{
    line-height: 20px;
    height: 420px;
    color: rgba(220, 220, 220, 0.493);
    text-shadow: none;
    font-family: "Playfair Display", serif;
}
.name-film{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    

}

.released-budget{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
    
}

.released-budget span{
    text-shadow: none;
    font-size: 12px;
}

.movie-description{
    margin-top: 20px;
    padding: 0px 20px;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: rgba(220, 220, 220, 0.493);
    line-height: 20px;
    text-shadow: none;

}

.left{
    padding: 20px;
    background-color: #433344;
    width: 20%;
    margin:0px 60px;
    transform-origin: right;
    transform: skewY(5deg);
    box-shadow: 0px 0px 40px #242323;
  
}

.right{
    width: 20%;
    margin:0px 60px;
    transform-origin: left;
    transform: skewY(-5deg);
    background-color: #433344;
    box-shadow: 0px 0px 40px #242323;
}

/* HOVER */


.hover-film{
    position: absolute  ;
    opacity: 0;
}

.active{
    opacity: 1;
   
}